@charset "utf-8";

body{
   margin: 0px;
   padding: 0px;
   height: 200vh;
}
header{
   background-color: rgb(66, 5, 66);
   color: white;
  
   text-align: center;
}
header h1{
   margin: 30px 20px;
   font-size: 3em;
   font-variant: small-caps;
}
nav{
   position: absolute;
   right: 2px;
   top: 20px;
   margin-right: 20px;
}
nav p{
   border-radius: 5px;
   margin-right:20px;
   background-color: rgba(94, 6, 94, 0.658);
   padding: 10px;
   font-size: 1.5em;
}
nav a{
   color: white;
   text-decoration: none;
}
nav p:hover{
   background-color: rgba(94, 6, 94, 0.303);
}
header h1,nav,nav p{
   display: inline-block;
}
@media (max-width:790px) {
   header{
      text-align: left;
   }
}